<!DOCTYPE html>
<html>
  <head>
    <title>Add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>
    <h1>Add</h1>
    <form method="post">
        <label>
            Please, enter the number:
            <input type="text" name="numA" value="<%= !isNaN(data.valueA) ? data.valueA : '' %>"/>
        </label>
        <label>
            Please, enter the number:
             <input type="text" name="numB" value="<%= !isNaN(data.valueB) ? data.valueB : '' %>"/>
        </label>
        <input type="submit" value="Add">

    </form>
    <% if (!isNaN(data.result)) { %>
        <h2><%= data.result %></h2>
    <% } %>  
  </body>
</html>
 