<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome to Calculator</p>
    <h1><a href="/add">Add</a></li></h1>   
    <h1><a href="/multiply">Multiply</a></li></h1>
    
  </body>
</html>
